body {
  /* background-image: url("/rainbow.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.full-page {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
}

.flexible {
  display: flex;
  flex-direction: row;
}

.stripe {
  width: 100%;
}

.half-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* @media screen and (max-width: 800px) {
  .half-col {
    width: 100% !important;
    display: block;
  }
} */
